/* shared section */
.btn-primary {
    border-radius: 8px;
    background: #F00;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 16px 32px;
}


/* banner section */
.greet-small {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    padding-top: 170px;
    margin-bottom: 0;
}

.greet-big {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    margin-top: 0;
}

.banner {
    background-image: url('../resources/banner.png');
    background-repeat: no-repeat;
    background-position: center top;
    height: 600px;
}

/* discount section */
.disc-1 {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    margin-top: 120px;
    margin-bottom: 0;
}

.disc-2 {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 48px;
    margin-bottom: 0;
}

.disc-3 {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    margin-top: 16px;
    margin-bottom: 0;
}

.img-2 {
    display: block;
    margin: 48px auto;
}

/* midnight party section */
.mid-1 {
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    margin-bottom: 10px;
}

.mid-2 {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 30px;
}

.mid-p-cont {
    margin-top: 72px;
    margin-left: 440px;
}


.midnight-party {
    display: flex;
    background-image: url('../resources/vectorrr.png');
    background-repeat: no-repeat;
    background-position: center top;
    height: 600px;
    margin-bottom: 0;
}
.ny-2024 {
    padding: 90px;
}
/* venue section */

.venue {
    margin-top: 120px;
    margin-left: 280px;
    background-image: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    width: 1320px;
    height: 482px;
}

.red {
    color: #F00;
}

.venue-1 {
    padding-top: 100px;
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
    text-align: center;
}

.join-2 {
    text-align: center;
}